<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAS67ni2P_TGQFsdY7q9a8n6aTy8dyIkB8</string>
	<key>GCM_SENDER_ID</key>
	<string>495947520541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kyouhuku</string>
	<key>PROJECT_ID</key>
	<string>kyouhuku</string>
	<key>STORAGE_BUCKET</key>
	<string>kyouhuku.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495947520541:ios:101d148313b0cd4a0a84f4</string>
</dict>
</plist>